<%= form_with(model: group) do |form| %>
  <% if group.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
        <% group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :name, placeholder:"Category name"%>
  </div>

  <div class="select-field">
   <%= form.select :icon, @group.icons.map { |icon| [icon['name'], icon['url']] },
   { :include_blank => 'Choose category icon' }, :required => true, class:'select-icon' %>
  </div>

  <div class="actions">
    <%= form.submit 'Save category' %>
  </div>
<% end %>
